extends layout

block content
    i.em.em-x(style="font-size:5em")
    h1.main.simple(style="margin:50px 0") NOONNN ! Le serveur nous a laché !
    p
        | On s'excuse pour le désagrément... Contactez vite&nbsp;
        a(href="https://twitter.com/Utarwyn" target="_blank") @Utarwyn
        |  !

    br
    br
    a(href="/") Retour à l'accueil
