extends layout

block content
    h1.main.simple
        i.em.em-x
        |  Erreur #{error.status}&nbsp;
        i.em.em-x

    i.em.em-umbrella_with_rain_drops(style="font-size:5em;margin:40px auto")

    h2
        | Mais qu'est-ce que vous faites ici ?&nbsp;
        i.em.em-thinking_face
    br
    br
    a(href="/") Retour à l'accueil