extends layout

block content
    img.logo(src="/images/logo.png")
    h1.main
        span Envie de nouveau ?
        span Besoin du serveur ?
        span Marre d'attendre ?
        span Besoin de s'occuper ?
        span On est là, pas d'inquiétude.

    p.desc Aidez-nous à découvrir la date d'ouverture du serveur !<br/>Invitez des amis et gagnez des lots surprises !

    a(href="/jouer")
        div.btn-play Jouer

    p
        a(href="/prix") Je peux gagner quoi ?
        span &emsp;&mdash;&emsp;
        a(href="/conditions") Conditions
    // script(type="text/javascript" src="/socket.io/socket.io.js")
    // script.
        var socket = io.connect('http://localhost:3000');
        socket.on('toClient', function(message) {
            console.log(message);
        });

    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.1.0/particles.min.js")
    script(type="text/javascript" src="/javascripts/index.js")
