extends layout

block content
    img.logo(src="/images/logo.png")

    div.index-container
        h1.main
            span Envie de nouveau ?
            span Besoin du serveur ?
            span Marre d'attendre ?
            span Besoin de s'occuper ?
            span On est là, pas d'inquiétude.
            span Ce jeu est fait pour vous.

        p.desc Aidez-nous à découvrir la date d'ouverture du serveur !<br/>Invitez des amis et gagnez des surprises hyper cool !

        div.btn-play
            a(href="/jouer#{fLink}") #{btnText || "Jouer"}

        p
            a(href="/apropos/prix") Je peux gagner quoi ?
            span &emsp;&mdash;&emsp;
            a(href="/date") Et la date d'ouverture ?

        div.socials
            a.discord(href="https://discord.gg/UNgPrPk" target="_blank")
            a.twitter(href="https://twitter.com/Utaria_FR" target="_blank")
            a.fb(href="https://facebook.com/utaria.fr/" target="_blank")

    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.1.0/particles.min.js")
    script(type="text/javascript" src="/javascripts/index.js")
