extends layout

block content
    img.logo(src="/images/logo.png")

    div.index-container
        h1.main
            span Grand jeu d'ouverture !!
            //span Besoin du serveur ?
            //span Marre d'attendre ?
            //span Besoin de s'occuper ?
            //span On est là, pas d'inquiétude.
            //span Ce jeu est fait pour vous.

        p.desc
            | Notre jeu est terminé ! On se retrouve sur le serveur&nbsp;
            i.em.em-bear
            | &nbsp;&nbsp;
            i.em.em---1

        // div.btn-play
            a(href="/jouer#{fLink}") #{btnText || "Jouer"}

        div.btn-play(style="width:250px")
            a(href="/") mc.utaria.fr

        p
            a(href="/apropos/prix") Quels sont les prix gagnés ?
            span &emsp;&mdash;&emsp;
            a(href="/classement") Classement final

        div.socials
            a.discord(href="https://discord.gg/UNgPrPk" target="_blank")
            a.twitter(href="https://twitter.com/Utaria_FR" target="_blank")
            a.fb(href="https://facebook.com/utaria.fr/" target="_blank")

    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.1.0/particles.min.js")
    script(type="text/javascript" src="/javascripts/index.js")
