extends layout

block content
    div.level-info
        div.progressbar
        span.meta
    div.coins-info
        span

    div.menu
        a(href="/boutique")
            div.item.boutique
        a(href="/classement")
            div.item.classement

    div.pickaxe
    div.pickaxe.magical

    div.items

    h2.action
        | But du jeu :
        br
        | Casser les blocs !

    div.click-container
        img(class="block")
        div.meta-block

    div.key-container X

    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/javascripts/jscookie.js")
    script(type="text/javascript" src="/javascripts/tooltip.js")
    script(type="text/javascript" src="/javascripts/game.js")