extends layout

block content
    div.level-info
        div.progressbar
        span.meta
    div.coins-info
        span

    div.pickaxe

    div.items

    h1.main Cassez ces blocs.
    div.click-container
        img(class="block")

    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
    script(type="text/javascript" src="/javascripts/game.js")