doctype html
html
    head
        title Utaria | #{title}

        <meta name="twitter:description" content="Il existe encore ce site ?">

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@Utaria_FR")
        meta(name="twitter:title" content="Utaria | Découvrez la date avec nous !")
        meta(name="twitter:description" content="")

        meta(name="viewport" content="width=device-width, initial-scale = 1, user-scalable = no")

        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:400,700,900')
        link(rel='stylesheet' href='/stylesheets/emoji.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/mobile.css')
        link(rel='icon' href='/favicon.ico')

        block head
    body
        canvas.particles

        section.content
            block content

        footer
            a(href="https://utaria.fr" target="_blank")
                div.logo

            div.copyright 2018 &mdash; Tous droits réservés.

        //script(src="https://www.googletagmanager.com/gtag/js?id=UA-87706617-1" async)
        //script.
            function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-87706617-1");