doctype html
html
    head
        title Utaria | #{title}

        meta(name="viewport" content="width=device-width, initial-scale = 1, user-scalable = no")

        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:400,600')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/mobile.css')
        link(rel='icon' href='/favicon.ico')

    body
        canvas.particles

        section.content
            block content

        footer
            a(href="https://utaria.fr" target="_blank")
                div.logo

            div.copyright 2018 &mdash; Tous droits réservés.