extends layout

block content
    h1.main.simple Le grand jeu UTARIA !
    p.desc Quelles sont les récompenses à gagner ?

    div.prix
        p Voici les récompenses que vous pouvez gagner :

        ul
            li des <b>réductions incroyables</b> dans la future boutique !
            li un grade d'une valeur de <b>10 euros</b> pour 1 mois !
            li un grade d'une valeur de <b>5 euros</b> pour 1 mois !
            li des cosmétiques <b>ultra rares</b> !
            li et encore plein d'autres prix !

    p(style="margin-top:40px")
            | Merci d'avoir participé au jeu !&nbsp;&nbsp;&nbsp;&nbsp;
            i.em.em-heart_eyes

    br
    br
    a(href="/") Retour à l'accueil